/*
  Slideshow theme for Ladies Learning Code
  @author Christina Truong | christinatruong.com
  @version 1.0
*/

/* Global styles
-----------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height;
  font-family: $base-font;
  color: $gray;
  border-top: 4px solid $llc-pink;
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1;
}
h2 {
  margin: 0;
}
h1 {
  font-family: $heading-font;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin: 0 0 25px;
  color: $llc-pink;
  font-size: $font-sz-heading;
  
  .title & {
    font-size: $font-sz-heading-lg;
    font-weight: 400;
  }
  code {
    font-size: inherit;
    font-weight: normal;
    background: none;
    text-transform: lowercase;
  }
}
h2 {
  font-size: $font-sz-heading-sm;
  
  + p, 
  + pre,
  + ul,
  + ol {
    margin-top: 6px;
  }
}
h3, h4 {
  margin: 32px 0 10px;
  
  + p, + pre {
    margin-top: 4px;
  }
}
h5 {
  margin-bottom: 10px;
}
h6 {
  text-transform: none;
  margin: 5px 0;
}
a {
  color: $llc-pink;
  text-decoration: none;
  outline: none;

  &:hover {
    color: $gray;
  }
}
hr {
  border: none;
  border-top: 1px solid $gray-light;
}
ul, ol {
  padding: 0;
    
  li {
    margin-bottom: 6px;
    margin-left: 24px;
  }
  ol, ul {
    font-size: $font-size-sm;
    width: 90%;
    margin: 4px 0 10px;
  }
}

ol > li {
  margin-bottom: 15px;
  margin-left: 40px;
}
ul {
  list-style-type: none;
  
  li:before {
    content: "\203A"; // › symbol
    font-family: $quicksand;
    font-weight: bold;
    margin-left: -18px;
    padding-right: 10px;
  }
}
.cursive {
  font-family: $cursive;
  color: $llc-pink;
}
.two-col-list > {
  ul, ol {
    overflow: hidden;
    padding-left: 8px;
    
    > li {
      width: 50%;
      float: left;
      margin-left: 0;
      
      &:before {
        content: "";
      }
    }
    ul, ol {
      margin-top: 10px;
    }
  }
  .resources + ul {
    > li {
      width: 100%;
      margin-left: 20px;
      
      &:before {
        content: "\203A";
        padding-right: 8px;
      }
    }
  }
}
.no-bullet-list {
  > ul > li {
    margin-left: 0;
    
    &:before {
      content: "";
      margin-left: -9px;
    }
    ul { margin-left: 10px; }
  }
}

iframe {
  margin-bottom: 20px;
}
pre {
  margin: 8px 0;
  white-space: pre-wrap;

  code {
    overflow-y: auto;
  }
}
code {
  font-family: Monaco, Andale Mono, monospace;
  color: #444;
  font-size: $font-size-code;
  background: white;
  border-radius: 4px;
  padding: 3px 6px;
}

strong {
  font-weight: 700;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  
  pre {
    margin: 0;
  }
  code {
    background: transparent;
  }
  .hljs {
    border: none;
    background: transparent;
  }
}
th, td {
  border: 1px solid $gray-light;
  padding-left: 10px;
}
th {
  text-align: left;
}
td {
  padding-right: 60px;
  padding-left: 10px;
  
  .two-col-table & {
    width: 50%;
  }
}

.note,
.resources,
.resources + * {
  line-height: 1.25;
  font-size: $font-size-xsm;
  margin-top: 2px;
}
.left {
  float: left;
  margin-right: 25px;
  
  + ul {
    padding-left: 10px;
  }
}
.right {
  float: right;
}
.centered {
  text-align: center;
}
.centered-media {
  img,
  iframe {
    margin: 0 auto;
    display: block;
  }
}
.highlight,
a.highlight {
  color: red;

  a {
    color: red;
  }
}


[class^="col-"],
[class*="col-"]{
  float: left;
  margin-right: 2%;
  
  &:last-child {
    margin-right: 0;
  } 
}
.col-2 {
  width: 48%;
}
.col-3 {
  width: 32%;
}
.col-narrow {
  width: 38%;
}
.col-wide {
  width: 60%;
}


/* Base styles for slides
--------------------------*/
.slide {
  padding: 45px 64px;
  height: 96%;
  background-size: cover;
  
  // Adds extra space to the bottom of the slides to allow 
  // presenters to scroll the page up so people in the back
  // of the room can see the bottom of the slides.
  &:after {
    content: " ";
    display: block;
    height: 200px;
  }
  img {
    max-width: 100%;
  }
  &:target {
    /* overflow: auto; */
  }
  &.js-fiddle > iframe:only-of-type {
    position: static;
    width: 525px;
    height: 350px;
  }
  &.centered {
    text-align: center;

    img {
      width: 60%;
    }
  }
}

/* For two column screenshots */
.side-by-side {
  img {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}

/* vertical align heading */
.slide.title {
  transform-style: preserve-3d;
  padding-left: 8%;
  padding-right: 8%;

  h1, h2 {
    position: relative;
    text-align: center;
    top: 40%;
    transform: translateY(-40%);
  }
  h1 {
    margin-bottom: 0px;
  }
  h2 {
    color: $gray;
    font-size: $font-sz-heading;
    font-family: "Quicksand",sans-serif;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

/* Progress Bar */
#timer {
  height: 4px;
  line-height: 4px;
  background: $black;

  &:before {
    content: "";
  }
  .end {

  }
}


/* textarea for dynamic CSS demos */
h2 + .edit {
  margin-top: 30px;
}
textarea.snippet {
  width: 100%;
  border: 1px solid #222;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-family: Monaco, Andale Mono, monospace;
}
.edit {
  float: right;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 2px 7px;
  position: relative;
  bottom: -10px;
  right: 8px; 
  margin-bottom: -25px;
}


/* Creates border for slide examples */
.example,
blockquote {
  border: 1px solid $gray-light;
  padding: 0 15px;

  p {
    margin: 10px 0;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}
blockquote {
  margin: 0;
  font-size: $font-size-base - 4;
  background: #fff;
}

/* Incremental slides */
.delayed.displayed, 
.delayed-children > .displayed {
    opacity: 1;
}

/* 
Background color style for headings
Use spans wrap inside of a heading for div. 
e.g.
<h1 class="title-bg">
  <span>Welcome to </span><br>
  <span>Ladies Learning Code!</span>
</h1>
*/
.heading-bg {
  span {
    background: rgba($llc-pink, 0.8);
    border-radius: 5px;
    padding: 0 10px 0 6px;
    box-decoration-break: clone;

    &.light {
      background: rgba($white, 0.6);
    }
    &.dark, &.light {
      color: $gray-dark;
    }
  }
}

/* Pre-workshop instructions
-----------------------------*/
header {
  font-size: $font-size-base + 2;
  
  &.slide {
    padding: 0;
  }
  .bg {
    background: #111;
  }
  .bg, 
  .instructions {
    padding: 40px 64px 10px;
  }
  .logo {
    float: left;
    margin: 0 25px 0 -19px;
    height: 50px;
  }
  h1 {
    font-weight: 400;
      
    .en & {
      font-size: 55px;
      margin-top: -10px;
    }
    .fr & {
      font-size: 45px;
      margin-top: 5px;
    }
  }
  h2 {
    font-size: 26px;
    float: left;
  }
  p, 
  .instructions > ul {
    margin: 0 0 0 235px;
  }
  .instructions > ul > li {
    margin-bottom: 20px;
  }
  a {
    letter-spacing: 0.1em; 
    font-size: inherit;
  }
}

/* Instructor Info
-------------------*/
.intro, 
.last {
  /*uncomment this if you don't want to use a background image */
  // background: $gray-dark; 
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)), 
              url(../img/banner-home2.jpg) no-repeat;
  background-size: cover;
  color: $white;
  
  h1 {
    font-size: $font-sz-heading-lg;
    margin: 5px 0 35px;
    color: $white;
    font-weight: 400;
  }
  .instructor {
    border-radius: 50%;
    max-width: 225px;
    float: left;
    margin-right: 30px;
  }
  h2 {
    margin: 50px 0 20px;
    font-weight: 400;
    font-size: $font-sz-heading;
    
    span {
      margin-right: 4px;
    }
  }
  ul li:before {
    content: "";
  }
  .fa {
    padding: 0 10px;
  }
  a {
    color: $white;
  }
}
.last {
  background: #222;
  
  .heading-bg {
    font-family: $heading-font;
    text-transform: uppercase;
  }
  .attribution {
    position: absolute;
    bottom: 5px;
    font-size: $font-size-xsm;
    
    a {
      color: $llc-pink;
    }
  }
}
.sponsor {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 0 64px 20px 0;
  font-size: 20px;

  img {
    width: 300px;
    margin-right: -9px;
  }
}





/* highlight.js customizations
-------------------------------*/
.hljs {
  font-family: Andale Mono, Monaco, monospace;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid $gray-light;
  word-wrap: break-word;
}
.hljs-doctype,
.hljs-comment {
  color: #990;
}


/* presenter notes overrides
-------------------------------*/
.presenter-notes {
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  font-size: 18px;
  margin: 0;
  max-height: inherit;

  p {
    margin-top: 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background: rgba(white, 0.6);
  font-size: 14px;

  i {
    color: $llc-pink;
  }
  p {
    margin: 4px 0;
  }
  .instructions {
    float: right;
    margin-right: 20px;
  }
  .license {
    float: left;
    margin-left: 20px;

    img {
      vertical-align: middle;
    }
  }
}
