//---------------
// VARIABLES
//---------------

// Colours
//---------------
$llc-pink:            #b109aa;
$black:               #000;
$gray-dark:           #222;
$gray:                #444;
$gray-light:          #bdc3c7;
$white:               #fff;


// Typography
//---------------
// Font families
$quicksand:           'Quicksand', sans-serif;
$pacifico:            'Pacifico', cursive;
$open-sans:           'Open Sans', sans-serif;
$monserrat:           'Montserrat', sans-serif;
$heading-font:        $quicksand;
$base-font:           $monserrat;
$cursive:             $pacifico;

// Fixed font sizes
// No slide scaling based on window size
$font-size-base:      25px;
$font-size-sm:        $font-size-base - 2;
$font-size-xsm:       $font-size-base - 4;
$font-size-h1:        75px;
$font-size-h2:        40px;
$font-size-h3:        28px;
$font-size-code:      20px;
$line-height:         1.25;

// Font weights
$light:   300;
$normal:  400;
$bold:    700;

