/* Styles specific to this workshop
------------------------------------*/
.wp-intro {
  img {
    float: right;
    margin: 10px 60px 0 0;
  }
}
.post-pages {
  img {
    width: 80%;
    margin: 10px 0;
  }
  .footnote {
    font-size: 14px;
  }
}
.appearance {
  img {
    float: left;
    width: 325px;
    margin: 0 30px 15px 0;
  }
}
.menu-widgets {
  img.landing {
    width: 31%;
    margin-right: 2%;
    float: left;
  }
  img.desktop {
    width: 67%;
  }
  img.mobile {
    width: 42%;
  }
}

