/* Styles specific to this workshop
------------------------------------*/
.wp-intro {
  img {
    float: right;
    margin: 10px 60px 0 0;
  }
}
.post-pages {
  img {
    width: 80%;
    margin: 10px 0;
  }
}
.appearance {
  img {
    float: left;
    width: 40%;
    margin-right: 30px;
  }
}
